body{
    background-image: url(/resources/static/images/background.jpg);
    margin-top: 30px;
}

footer{
    color: blue;
    margin-left: 10%;
    float:left;
    padding-left: 30px;
    padding-top: 20px;
}



